###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
        use                             generic-contact		; Inherit default values from generic-contact template (defined above)
        service_notification_options    u,c,r,f,s
        alias                           Nagios Admin		; Full name of user
        email                           ops@aspectgaming.com	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    yao
	use		                generic-contact
        alias                           Yao Ligang
        email                           ligang.yao@aspectgaming.com
        }

define contact{
        contact_name                    yi
	use		                generic-contact
        alias                           Yang Yi
        email                           yi.yang@aspectgaming.com
        }

define contact{
        contact_name                    leo
	use		                generic-contact
        alias                           Leo Ye
        email                           leo.ye@aspectgaming.com
        }

define contact{
        contact_name                    cc
	use		                generic-contact
        alias                           CC Xu
        email                           cc.xu@aspectgaming.com
        }

define contact{
        contact_name                    victor
	use		                generic-contact
        alias                           Victor Lei
        email                           victor.lei@aspectgaming.com
        }

define contact{
        contact_name                    joe
	use		                generic-contact
        alias                           Joe
        email                           joe.auyeung@aspectgaming.com
        }

define contact{
        contact_name                    eric
	use		                generic-contact
        alias                           Eric Chang
        email                           eric.chang@aspectgaming.com
        }

define contact{
        contact_name                    eric_gmail
	use		                generic-contact
        service_notification_options    w,u,c,r,f,s
        alias                           Eric Chang
        email                           eric.chang.1015@gmail.com
        }
###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin
        }

define contactgroup{
        contactgroup_name       frontend
        alias                   frontend owner
        members                 cc,leo,nagiosadmin
        }

define contactgroup{
        contactgroup_name       backend
        alias                   backend owner
        members                 victor,nagiosadmin,yao,eric,eric_gmail
        }
