###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
        host_name               grsServer
        alias                   GRS Production Server
        address                 grs.aspectgaming.com
}



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Define a service to "ping" the local machine
define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       grsServer
        service_description             PING
#     	check_command			check_ping!100.0,20%!500.0,60%
     	check_command			check_ping!500.0,20%!1000.0,60%        ; Ireland to Singapore
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 30% free, critical if
# < 15% free space on partition.

define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       grsServer
        service_description             Root Partition
	check_command			check_remote_disk!70!90!/
        }

define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       grsServer
        service_description             SSH
    	check_command	                check_ssh
	notifications_enabled		    1
        }

define service{
        use                             local-service
        host_name                       grsServer
        service_description             GameSrv
        contact_groups		        backend
        check_command                   check_docker_log!aspect!game_srv!1440m
        check_interval                  1440                       ; Check the service every 1440 minutes (24*60 half day) under normal conditions
        retry_interval                  1440                       ; Re-check the service every 1440 minutes until a hard state can be determined
	notifications_enabled		1
        max_check_attempts              1              ; Check each server 10 times (max)
        notes_url                       http://devops.aspectgaming.com/nagios/cgi-bin/extinfo.cgi?type=2&host=$HOSTNAME$&service=$SERVICEDESC$
       }

define service{
        use                             local-service,graphed-service
        host_name                       grsServer
        service_description             CPU_Usage
        check_command                   check_cpu!aspect!40!60
        check_interval                  10                       ; Check the service every 10 minutes under normal conditions
        retry_interval                  2                       ; Re-check the service every 2 minutes until a hard state can be determined
	notifications_enabled		1
        notes_url                       http://devops.aspectgaming.com/nagios/cgi-bin/extinfo.cgi?type=2&host=$HOSTNAME$&service=$SERVICEDESC$
       }

define service{
        use                             local-service,graphed-service
        host_name                       grsServer
        service_description             Mem_Usage
        check_command                   check_mem!aspect!80!90!40!60
        check_interval                  10                       ; Check the service every 10 minutes under normal conditions
        retry_interval                  2                       ; Re-check the service every 2 minutes
	notifications_enabled		1
        notes_url                       http://devops.aspectgaming.com/nagios/cgi-bin/extinfo.cgi?type=2&host=$HOSTNAME$&service=$SERVICEDESC$
       }

define service{
        use                             local-service,graphed-service
        host_name                       grsServer
        service_description             Docker_Mem_Usage
        check_command                   check_docker_memory!aspect
        check_interval                  5                       ; Check the service every 5 minutes under normal conditions
        retry_interval                  1                       ; Re-check the service every 1 minutes
	notifications_enabled		0
        notes_url                       http://devops.aspectgaming.com/nagios/cgi-bin/extinfo.cgi?type=2&host=$HOSTNAME$&service=$SERVICEDESC$
       }

define service{
        use                             local-service,graphed-service
        host_name                       grsServer
        service_description             Connections
        check_command                   check_connection!devops!ag28889961
        check_interval                  10                       ; Check the service every 10 minutes under normal conditions
	notifications_enabled		0
       }

define service{
        use                             local-service
        host_name                       grsServer
        service_description             copy_scripts
        check_command                   copy_scripts!aspect
        check_interval                  14400                       ; Check the service every 1440 (24*60) minutes under normal conditions
	notifications_enabled		0
       }
